body {
    background-color: hsl(0, 0%, 8%)
}

.contenedor {
    background:hsl(0, 0%, 12%);
    width: 300px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    min-width: 250px;
    max-width: 1440px;

}

img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-items: center;
}

h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    color: white;
}

h2 {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(161, 206, 0, 0.747)
}

p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

a {
    background: hsl(0, 0%, 20%);
    color: white;
    text-decoration: none;
    padding: 5px 100px;
    border-radius: 5px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-evenly;
    flex: auto;
}

a:hover {
    background: rgba(161, 206, 0, 0.747);
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: 0.6s;
    
}